@tailwind base;
@tailwind components;
@tailwind utilities;
.banner {
    background-image: url("https://images.unsplash.com/photo-1594909122845-11baa439b7bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    height: 100%;
    /* width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #cccccc;
    padding: 10px; */
}